@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  width: 100%;
  min-height: 1700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #F5F5F5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  -webkit-box-shadow: -1px 1px 3px rgb(221, 221, 221);
          box-shadow: -1px 1px 3px rgb(221, 221, 221);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.container__body {
  max-width: 960px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  min-width: 250px;
}

.plug {
  min-width: 250px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__body {
  margin: auto;
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  min-width: 250px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75%;
  min-width: 250px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: absolute;
  right: 0;
  min-width: 250px;
  background-color: #42A8C0;
}

.skills__body, .projects__body, .experiences__body, .career__body {
  padding: 50px 80px 0px 60px;
}

.career__text {
  margin-top: 30px;
}

.title {
  color: #2D7788;
  font-size: 20px;
  font-weight: 500;
}
.title--icon-person::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #2D7788;
  background-size: 15px 15px;
  background-image: url("/imgs/career/user.png");
  background-repeat: no-repeat;
  background-position: 48% 45%;
}
.title--icon-bag::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #2D7788;
  background-size: 15px 15px;
  background-image: url("/imgs/experiences/briefcase.png");
  background-repeat: no-repeat;
  background-position: 48% 45%;
}
.title--icon-box::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #2D7788;
  background-size: 15px 15px;
  background-image: url("/imgs/projects/box.png");
  background-repeat: no-repeat;
  background-position: 48% 45%;
}
.title--icon-rocket::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #2D7788;
  background-size: 15px 15px;
  background-image: url("/imgs/skills/rocket.png");
  background-repeat: no-repeat;
  background-position: 48% 45%;
}
.title--aside {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.text {
  color: #545E84;
  font-size: 15px;
  line-height: 20px;
}
.text--small {
  font-size: 14px;
}

.experiences__item {
  margin-top: 20px;
}
.experiences__item:nth-child(2) {
  margin-top: 30px;
}
.experiences__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.experiences__item-title-date {
  color: #97BDDE;
  font-size: 15px;
}
.experiences__item-title-info-position {
  font-weight: 500;
  font-size: 16px;
}
.experiences__item-title-info-location {
  margin-top: 5px;
  color: #97BDDE;
  font-size: 15px;
}
.experiences__text {
  margin-top: 10px;
}

.projects__text {
  margin-top: 30px;
}
.projects__term {
  margin-top: 20px;
}
.projects__term-name {
  color: #2D7788;
  font-size: 16px;
}
.projects__term-name:hover {
  text-decoration: underline;
}

.skills__body {
  padding-bottom: 100px;
}
.skills__item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__item:nth-child(2) {
  margin-top: 30px;
}
.skills__item-title {
  font-weight: 500;
  font-size: 16px;
  color: #2D7788;
}
.skills__item-progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: relative;
  background-color: #F5F5F5;
  min-width: 100px;
  height: 12px;
}
.skills__item-progressbar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #7BC2D3;
}
.skills__item-progressbar-fill--98-percent {
  width: 98%;
}
.skills__item-progressbar-fill--95-percent {
  width: 95%;
}
.skills__item-progressbar-fill--90-percent {
  width: 90%;
}
.skills__item-progressbar-fill--70-percent {
  width: 70%;
}

.header {
  background-color: #35869A;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.header__name {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.header__postition {
  color: #AECAC7;
  margin-top: 10px;
  font-size: 18px;
}

.interests__body, .languages__body, .education__body, .contact-info__body {
  padding: 32px 0px 32px 27px;
}

.contact-info__item {
  display: block;
  margin-top: 15px;
  color: white;
}
.contact-info__item:first-child {
  margin: 0px;
}
.contact-info__item:hover {
  text-decoration: underline;
}
.contact-info__item--email::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/email.png");
  background-repeat: no-repeat;
}
.contact-info__item--phone::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/phone-call.png");
  background-repeat: no-repeat;
}
.contact-info__item--site::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/earth.png");
  background-repeat: no-repeat;
}
.contact-info__item--linkedin::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/linkedin.png");
  background-repeat: no-repeat;
}
.contact-info__item--github::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/github.png");
  background-repeat: no-repeat;
}
.contact-info__item--twitter::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 5px;
  background-size: 17px 17px;
  background-image: url("/imgs/contact-info/twitter.png");
  background-repeat: no-repeat;
}

.education__item-name {
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
.education__item-location {
  margin-top: 7px;
  color: #B3DCE6;
  font-weight: bold;
}
.education__item-date {
  margin-top: 3px;
  color: #B3DCE6;
  font-weight: bold;
}

.languages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
.languages__item:nth-child(2) {
  margin-top: 20px;
}
.languages__item-name {
  color: white;
}
.languages__item-level {
  margin-left: 5px;
  color: #B3DCE6;
}

.interests__name {
  color: white;
  margin-top: 15px;
}
.interests__name:nth-child(2) {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .container {
    margin: 20px;
  }
}
@media (max-width: 900px) {
  .skills__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills__item-progressbar {
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .title {
    line-height: 25px;
  }

  .aside {
    position: relative;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content {
    max-width: 100%;
  }

  .footer__body {
    margin-bottom: 25px;
  }

  .career__body {
    padding: 25px;
  }

  .experiences__body {
    padding: 25px;
  }
  .experiences__item-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experiences__item-title-date {
    margin-top: 4px;
  }

  .projects__body {
    padding: 25px;
  }

  .skills__body {
    padding: 25px;
    padding-bottom: 100px;
  }
}
@media (max-width: 290px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
  }

  .footer__body {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}